body
  color: #333
  font-family: sans-serif
  margin: 0

.fixme
  color: red
  font-weight: bold

.languages-list
  list-style-type: none
  display: block
  margin: 0
  padding: 0

.language
  display: block
  border-bottom: solid 2px #eee
  padding: 1rem
  > div
    padding: 0 0 1rem 0
    border-bottom: solid 4px #fafafa
    margin-bottom: 2rem

h1
  font-size: 1.5rem
  text-transform: uppercase

h2
  font-size: 1.2rem
  color: #999
  text-transform: uppercase


.palette-component
  display: inline-block
  vertical-align: top

.palette-color
  display: inline-block
  width: 60px
  height: 60px
  vertical-align: top
  margin-right: 1rem
