body
  color: #333
  font-family: sans-serif
  margin: 0


.languages-list
  list-style-type: none
  display: block
  margin: 0
  padding: 0

.language
  display: block
  border-bottom: solid 2px #eee
  padding: 1rem
  h1
    font-size: 1.5rem
    text-transform: uppercase
