/* line 1, ../sass/main.sass */
body {
  color: #333333;
  font-family: sans-serif;
  margin: 0;
}

/* line 6, ../sass/main.sass */
.half {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  box-sizing: border-box;
}

/* line 12, ../sass/main.sass */
.card {
  background-color: #eeeeee;
}

/* line 15, ../sass/main.sass */
.data {
  padding: 1rem;
}
